[Bb]in/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
publish/

# Archivos de Visual Studio (Configuraciones de usuario local)
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Resultados de tests
TestResults/

# Archivos de la base de datos local / Entity Framework
*.mdf
*.ldf
*.sqlite
*.db
*.mdb

# Archivos generados por el compilador
*.dll
*.exe
*.pdb
*.cache
*.mdb
*.log
*.bin
*.v2
*.bak

# Archivos de caché de compilación
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.csproj.AssemblyReference.cache
*.GeneratedMSBuildEditorConfig.editorconfig
*.dtbcache.v2
*.futdcache.v2
*.vsidx

.idea/
.vscode/


appsettings.Development.json
appsettings.Local.json

node_modules/
npm-debug.log
yarn-error.log

.DS_Store
Thumbs.db
desktop.ini

